@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* Attribute styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* General styles */

html {
  scroll-behavior: smooth;
}

#navUl::after {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 600px) {
  #navUl {
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  }
  [data-status="hidden"] {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
  }
  [data-status="visible"] {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

#scroll-indicator {
  animation: jump 2s linear 1s alternate-reverse infinite;
  opacity: 0;
}

@keyframes jump {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
  25%,
  75% {
    transform: none;
    opacity: 0.5;
  }
}
